* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#615dad, #ffc8da);
  margin: 0 auto;
  color: #ffffff;
  padding: 50px;
  max-width: 80vmin;
  min-height: 100vmin;
}

h1 {
  font-family: "Lobster", cursive;
  font-size: 60px;
  margin: 0;
}

.description {
  display: flex;
  justify-content: space-between;
  width: 70%;
  font-family: sans-serif;
}
